*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height:100%;
    background-image: url("../964725be8d25e328ff5cb44f9c37d31e.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
 clip-path:polygon(100% 0%,100% 77%, 50% 100%,0% 75%,0% 0%);
 position: relative;
}
.navbar:before{
    content: "";
    position: absolute;
    top:0%;
    bottom:0%;
    left:20%;
    right: 0%;
    opacity: 0.4;
    z-index: -1;
}
.navbar-brand{
    color: black;
    text-decoration: underline;
    margin-left: -105px;
}
.nav-item a{
    margin-right: 40px;
    color:white;
    font-size: 18px;
}
.header-section{
    margin-top:60px;
    margin-left: -80px;
    width: 100%;
    height: inherit;
    color:darkred;
    position: relative;
    text-align:center; 
    
}
.header-section h1{
   text-align: left;
   margin-left: 200px;
   text-decoration: underline;
}
.header-section h3{
    margin-top:50px;
    width: 800px;
    margin-left:100px;
    height: inherit;
    color:navy;
    position: relative;
    text-align:left; 
}
.serviceoffers{
    background:#f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}
.name h2{
    text-transform: uppercase;
    font-size: 0.9rem;

}
.service-icons{
    display: flex;
    justify-content: left;
    text-align: left;
}
.extradiv{
    width: 100%;
    height: 100%;
    margin: 40px 0;
    text-align: center;
}
.extra{
    background-color:white;
     padding:70px;
     border-radius: 3px;
     transition: 0.3s;
    }
    .extra:hover{
        box-shadow:-30px  30px 15px  rgba(20, 32, 194, 0.3);
    }
    .con {
        text-align: center;
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 40px;
        width: 850px;
        height: 220px;
        border: 1px solid black;
        animation: mymove 5s infinite;
      } 
      @keyframes mymove {
        50% {border: 15px solid crimson;}
      }     
    

    }
    .icons{
        margin-left: 70px;
        margin-top: -40px;
    }
